@font-face {
    font-family: inter-regular;
    src: url(../font/Inter-Regular-slnt=0.ttf);
}

@font-face {
    font-family: inter-black;
    src: url(../font/Inter-Black-slnt=0.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(../font/Inter-Bold-slnt=0.ttf);
}

@font-face {
    font-family: inter-extrabold;
    src: url(../font/Inter-ExtraBold-slnt=0.ttf);
}
* {
    font-family: inter-regular;
}
h1, h3 {
    font-family: inter-black;
    color: #2D3436;
}
.texto-rocket {
    line-height: 2.6;
    margin: 20px;
    font-size: 18px;
  }
.navbar-dark .navbar-nav .nav-link {
    color: #474D4F;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #474D4F;
    border-bottom: 1.5px solid #FDCB6E;
}
.card {
    text-align: left;
}
.sem-borda {
    border: none;
}
.card-hover:hover{
    border: 2px solid #FDDE34;
  }
.card-text{
    font-size: 15px;
}
.btn-card {
    background-color: white;
    color: #10206A;
    border-color: rgb(134, 130, 130);
    border-radius: 10px;
    width: 106px;
}
.btn-card:focus, .btn-card:hover {
    background-color: #10206A;
    color: #ffffff;
}
.btn-result{
    background-color: #FDCB6E;
    border-color: #FDCB6E;
}
.btn-result:hover{
    background-color: #FDCB6E;
    border-color: #FDCB6E;
}
.input-rocket {
    background-color: #C2C2C2;
    color: #2D3436;
    border-radius: 16px;
}
.btn-rocket-enviar {
    background-color: #10206A;
    height: 82%;
    width: 52%;
    border-radius: 17px;
}
.input-rocket:hover {
    background-color: #ffffff;
}
.visualizacao {
    background-color: #FDDE34;
    border-color: #FDDE34;
    color: #2D3436;
    display: none;
}

@media (max-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
        color: #ffffff;
        border-bottom: 1.5px solid #FDCB6E;
        
    }
    .visualizacao {
        display: block;
        width: 80%;
        height: 50px;
        margin-bottom: 30px;
        margin-left: 10%;
      }
    
}